html body {
    margin: 0;
}
.header {
    width: 100%;
    background: #0cd3ff;
}
.logo {
    width: 150px;
    height: 150px;
    padding: 10px;
}
.links a {
    padding-top: 20px;
    background-color: blueviolet;
}

.headerContent {
    margin: 0 auto;

    padding: 10px;
}
.span {
    width: 100%;
}
.navContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.container {
    display: inline-flex;
    text-decoration: none;
    justify-content: space-around;
    width: 100%;
}

#navigation a {
    text-decoration: none;
    color: black;
}
img.card-img-top {
    height: 350px;
    width: 260px;
}
